.main {
    width: 100%;
    height: 100vh;
    background-image: url("background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* filter: brightness(90%); */

}

.information {
    width: 500px;
    top: 18%;
    left: 34%;
    height: 500px;
    position: absolute;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.logsText {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}

.d {
    color: aqua;
}

.information #logs, .information #effectiveTime {
    width: 50%;
    background: transparent;
    border: 0;
    border-bottom: 2px white solid;
    text-align: center;
    font-size: 20px;
    color: aqua;
}

#logs:focus, #effectiveTime:focus {
    outline: none;

}

.logButton {
    width: 50%;
    height: 10%;
    border: none;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-size: 20px;
    transition: all 1s;
    font-weight: 600;

}

.logButton:hover {
    background-color: aqua;
    cursor: pointer;
}

.output {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    transition: all 0.5s;
}

.time {
    font-size: 30px;
    font-weight: 900;
    /* color: aqua;
    text-shadow: 
    0.5px 0px 0px black,   
    -0.5px 0px 0px black, 
    0px 0.5px 0px black,   
    0px -0.5px 0px black;   */
    color: rgb(0, 148, 0);
    text-align: center;
    transition: all 0.5s;

}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.displayEffectiveHours{
    text-align: center;
}